<div id="main">
    <main class="main-content" aria-label="Content">
        <div class="portrait">
            <div class="com">
                <a class="th">
                    <img src="../a.jpg">
                </a>
            </div>
        </div>
        <div class="main-wrapper">



            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
            {{ content }}
        </div>
    </main>

</div>