<input type="checkbox" id="ham-menu">
<label for="ham-menu">
    <div class="hide-des">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </div>
</label>

<div id="topNav" class="topnav">
    <dl>
        <dt><a href=".">Home</a></dt>
        <dt><a href="about">About</a></dt>
        <dt><a href="#">Something</a></dt>
        <dt><a href="#">Something Else</a></dt>
    </dl>
</div>
