<input type="checkbox" id="ham-menu" onclick="openNav()">
<label for="ham-menu">
    <div class="hide-des">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </div>
</label>

<div id="topNav" class="topnav">
    <ul>
        <li><a href=".">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something Else</a></li>
    </ul>
</div>
